
    <div class="container p-4 bg-white rounded shadow " style="  width: 100%; max-width: 1200px;">
        <h2 class="text-center  text-primary">Manage Bookings</h2><br>
        <table class="table table-hover">
            <thead >
                <tr class="table-primary ">
                    <th  scope="col">Flight Number</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">Number of Passengers</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let b of bookings">
                    <tr *ngIf="b.status=='Pending'">
                        <td>{{b.flight.flightNumber}}</td>
                        <td>{{b.user.username}}</td>
                        <td>{{b.user.email}}</td>
                        <td>{{b.bookingDate}}</td>
                        <td>{{b.numberOfPassengers}}</td>
                        <td>{{b.status}}</td>
                        <td>
                            <button class="btn btn-primary"
                                (click)="updateBookingStatus(b.bookingId,'Confirmed')">Approve</button><br><br>
                            <button class="btn btn-primary"
                                (click)="updateBookingStatus(b.bookingId,'Cancelled')">Reject</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
